body {
  background-color: black;
  /* Misha Working Zone-------------------*/
}
.left50 {
  float: left;
  width: 49%;
  background-color: azure;
  height: 1000px;
}

/* HorroRNic working Zone--------*/
.right50 {
  float: right;
  width: 49%;
  background-color: cyan;
  height: 1000px;
}
